

<div class="jumbotron">
	<div class="container">

		<h1 class="titulos"> Título </h1>
		<h2 class="titulos"> Otro Titulo </h2>
		<a href="http://en1mes.com" class="btn btn-default"> 	
		  <span class="glyphicon glyphicon-fire" style="color:purple"> </span>
		  En1Mes
		</a>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class ="col-md-4">
			<div class="page-header">
				<h1 style="display:inline">Header ejemplo <span class="label label-default">Nuevo!</span><small>Subtexto del header</small></h1>
			</div>

			<h1>Título principal.</h1>
			<a href="http://google.com" target="_blank">Google!</a>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	    
	    <div class="col-md-4">
	    	<div class="page-header">
				<h1>Header ejemplo <small>Subtexto del header</small></h1>
			</div>

			<h2>Título 2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		
		<div class="col-md-2">	
			<div class="page-header">
				<h1>Header ejemplo <small>Subtexto del header</small></h1>
			</div>
			<h3>Subsubtítulo</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-2">
			<div class="page-header">
				<h1>Header ejemplo <small>Subtexto del header</small></h1>
			</div>
			<h3>sub....subtítulo</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		



			<img src="https://bucket2.glanacion.com/anexos/fotos/05/1858705w1033.jpg" class="img-responsive">

		</div>
	</div>
</div>

<hr>
<br>

<a href="http://google.com">
 <img src="https://ichef.bbci.co.uk/news/ws/660/amz/worldservice/live/assets/images/2015/09/01/150901210647_google_624x351_pa.jpg" alt="Logo de Google" style="width:150px">
</a>


